{% extends 'base.html' %}
{% block content %}
{% load static %}

  <link rel="stylesheet" href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"/>
  <link rel="stylesheet" href="{% static 'collection.css' %}">

    <div id="bg-layer"></div>
    <div class="container">

    <div class="collection-header">
        <i class="nes-pokeball"></i>
        <h1 class="nes-text title">My Pokémon Collection</h1>
        <i class="nes-charmander"></i>
    </div>


    <div class="nav-buttons"></div>


    <div class="nes-field" id="search-style">
        <input id="search-field" class="nes-input" type="text" placeholder="Search for a Pokémon" name="search" autocomplete="off">
        <div id="autocomplete-list" class="autocomplete-items"></div>
        <br>
        <button id="search-button"></button>
    </div>
    <div class="collection-grid">
      {% for pokemon in pokemons %}
      <a href="{% url 'trading.trade_pokemon' pokemon_name=pokemon.name %}">
        <button class="pokemon-card
          {% if pokemon.rarity == 1 %} rarity-1
          {% elif pokemon.rarity == 2 %} rarity-2
          {% elif pokemon.rarity == 3 %} rarity-3
          {% elif pokemon.rarity == 4 %} rarity-4
          {% elif pokemon.rarity == 5 %} rarity-5
          {% elif pokemon.rarity in '67' %} rarity-high
          {% endif %}"
          data-name="{{ pokemon.name }}"
          data-sprite="{{ pokemon.sprite }}"
          data-rarity="{{ pokemon.rarity }}">
          <span class="pokemon-name">{{ pokemon.name }}</span>
          <img src="{{ pokemon.sprite }}" alt="{{ pokemon.name }}" class="pokemon-sprite">
          <span class="rarity-label">Rarity: {{ pokemon.rarity }}</span>
        </button>
      </a>
      {% empty %}
        <p>You have no Pokémon in your collection yet!</p>
      {% endfor %}
    </div>

    <img src="{% static 'img/campfire.gif' %}" alt="POKE_BALL" class="pokeball">

    <dialog class="modal nes-dialog">
      <div class="modal-content">
        <h2 class="modal-title">Pokémon Name</h2>
        <img class="modal-image" src="" alt="POKE_IMAGE">
      </div>
        <div class="modal-content">
            <button type="submit" class="nes-btn is-primary">Trade</button>
        </div>
    </dialog>

    <form action="{% url 'generate_pokemon' %}" method="post">
      {% csrf_token %}
      <button type="submit" class="nes-btn is-primary">Generate Pokemon</button>
    </form>
  </div>

  <script src="{% static 'collection.js' %}"></script>

{% endblock content %}
